.leebook_logo {
    font-family: 'Caveat', cursive;
}

.leebook_footer_button {
    font-size: 0.9rem;
}

.leebook_footer {
    text-align:center;
    margin-top: 2rem;
}

.leebook_header {
    text-align:center;
    margin: 2rem 0;
}

@media screen and (max-width:500px) {
    html {
        font-size: 13px;
    }
}

a {
    color: black;
    text-decoration: none;
}


a:hover {
    color: black;
    text-decoration: none;
}

.leebook_header_nav {
    margin: 0 0.5rem;
}

.leebook_header_navbar {
    margin: 1rem 0;
}